<h2>Blog List</h2>
<a routerLink="/blogs/create">[Add]</a>
<table class="table table-compact table-bordered">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Author</th>
        <th></th>
    </thead>
    <tbody>
        <ng-container *ngFor="let scope of model?.items">
            <tr>
                <td>
                    {{scope.id}}
                </td>
                <td>
                    <a [routerLink]="['/blogs', scope.id]">{{scope.title}}</a>
                </td>
                <td>
                    {{scope.category}}
                </td>
                <td>
                    {{scope.author}}
                </td>
                <td>
                    <button type="button" class="btn btn-sm" (click)="delete(scope)">Delete</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>